*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.mainbody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 50px;
    width: auto;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    margin: 10px;   
    
}
.title{
    text-align: left;
    background-color: aliceblue;
    border-radius: 10px;
    margin: 10px;
    font-size: 36px;
    white-space: nowrap;
}
.titlebox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 10px;
    margin: 10px;
    width: 500px;
}


body{
    background-color: lightslategray;
}


img{
    margin: 10px;
    border-radius: 10px;
    height: auto;
    width:500px;
}

.subtext{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: aliceblue;
    border-radius: 10px;
    margin: 10px;
    width: 500px;
}


.imagetext{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: aliceblue;
    border-radius: 10px;
    margin: 10px;
    width: 500px;
}

.listbox{
    padding: 10px 10px;
    background-color: aliceblue;
    border-radius: 10px;
    margin: 10px;
    width: 500px;
    box-sizing: border-box;
}
.listtext{
    list-style-position: inside;
    
}
.listtext li{
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.pone,.ptwo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: aliceblue;
    border-radius: 10px;
    margin: 10px;
    width: 500px;
}

.sublisttext{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: aliceblue;
    border-radius: 10px;
    margin: 10px;
    width: 500px;
}

