*{
    font-family: Arial, Helvetica, sans-serif;
}

.mainbody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    background-color: lightslategray;
}

.titlebox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: aliceblue;
    border-radius: 10px;
    width: 500px;
    box-sizing: border-box;
 }

.main{
    text-align: left;
    font-size: 40px;
    font-weight: 200;
}

.logo{
    height: 50px;
    width: auto;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    margin: 10px;   
    
}

button{
    background-color: aliceblue;
    font-size: large;
    padding: 10px 20px;
    width:500px;
    border: 0px;
    border-radius: 12px;
    color: black;
    margin-left: -40px;
    
}

button:hover{
    background-color: whitesmoke;
    transition: 0.3s;
}

button:active{
    background-color: lightslategray;
}